/* Contêiner principal do App */
.app-container {
  display: flex;
  height: 100vh;
}

/* Conteúdo principal da aplicação */
.main-content {
  flex-grow: 1;
  padding: 20px;
  /* margin-left: 0px; */
  width: 100%;
  overflow-y: auto;
}
